{{ define "title" }}
	Network.Read
{{ end }}

{{ define "main" }}
	<div class="card text-white bg-dark mb-3">
		<h5 class="card-header bg-secondary">Email</h5>
	  	<div class="card-body">
	    	<h5 class="card-title">{{ .Email.Head }}</h5>
	    	<h6 class="card-text">{{ .Email.Body }}</h6>
	  	</div>
	</div>
	<div class="card text-white bg-dark mb-3">
		<h5 class="card-header bg-secondary">Sender</h5>
	  	<div class="card-body">
	  		<h5 class="card-title">{{ .Email.SenderName }}</h5>
	    	<h6 class="card-text">{{ .Email.SenderPubl }}</h6>
	  	</div>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-success w-100" onclick="copy()">Copy public key</button>
	</div>
	<div style="opacity:0">
		<input id="public_key" type="text" value="{{ .Email.SenderPubl }}">
	</div>
	<script type="text/javascript">
		function copy() {
			var copyText = document.getElementById("public_key");
			copyText.select();
			document.execCommand("copy");
    		alert('Public key copied');
		} 
	</script>
{{ end }}
