{{ define "title" }}
	Signup
{{ end }}

{{ define "main" }}
    <form id="feedbackForm" class="text-center" method="POST" action="/signup">
        <div class="form-group">
            <input type="text" class="form-control bg-dark text-light" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control bg-dark text-light" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control bg-dark text-light" name="password_repeat" placeholder="Repeat Password">
        </div>
        <div class="form-group">
        	<button type="button" class="btn btn-danger w-100" onclick="hide()">Load private key</button>
        </div>
        <div id="input-priv-key" class="form-group"></div>
        <div class="form-group">
        	<input type="submit" name="submit" value="Create account" id="feedbackSubmit" class="btn btn-success w-100">
        </div>
    </form>
    <script type="text/javascript">
    	function hide() {
    		let elem = document.getElementById("priv-key");
    		if (elem) {
    			document.getElementById("priv-key").remove();
    		} else {
    			let newInput = "<textarea id='priv-key' class='form-control bg-dark text-light' name='private_key' placeholder='Private key'></textarea>";
    			document.getElementById("input-priv-key").innerHTML = newInput;
    		}
		}
    </script>
{{ end }}
