{{ define "title" }}
	Network.Write
{{ end }}

{{ define "main" }}
	<form class="text-center" method="POST" action="/network/write">
		<div class="form-group">
            <input type="text" class="form-control bg-dark text-light" name="receiver" placeholder="Receiver public key">
        </div>
        <div class="form-group">
            <input type="text" class="form-control bg-dark text-light" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea type="password" class="form-control bg-dark text-light" name="message" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" value="Send email" class="btn btn-success w-100">
        </div>
    </form>
{{ end }}
